* {
    font-family: 'Arimo', sans-serif;
}
body {
    margin: 0;
}
/* ~~~~~ HEADER ~~~~~ */
nav {
    padding-top: 15px;
}
nav ul {
    background-color: #e6e6e6;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    width: 95vw;
    margin: 0;
    list-style-type: none;
    padding: 0;
    position: fixed;
    margin: 0vh 1.25vw;
}
.navli {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
.navli:nth-child(1) {
    padding: 10px 100px 10px 30px;
}
nav a {
    color: #808080;
}
nav a:hover {
    color: black;
    cursor: pointer;
}
nav a {
    text-decoration: none;
}

/* ~~~~~ MAIN ~~~~~ */
.page {
    height: 100vh;
    width: 95vw;
    margin: 2.5vh 1.25vw;
}
.page .title {
    background-color: #008073;
    color: white;
    font-weight: lighter;
}
.title h1 {
    margin: 0px;
    padding: 7px 15px;
}
.page {
    border: 2px solid black;
    background-image: url('assets/bg.png');
}
#home {
    background-image: url('assets/2018.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#home h1 {
    padding: 50px 0px 0px 25px;
    font-size: 40px;
}
#about blockquote {
    font-size: 40px;
    color: brown;
}
#about p, #about li {
    margin: 10px 40px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 1.5;
}
.projectsParent {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.projects {
    height: 35%;
    width: 40%;
    border: 2px solid black;
}
.projects .title {
    height: 15%;
}
.projectDesc {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}
.projects img {
    width: 50%;
    height: 85%;
}
.projects h3 {
    margin: 10px;
}
.projects button {
    margin: 0px 10px;border: none;
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}
.projects button:hover {
    background-color: white;
    color: #008CBA;
    border: 1px solid #008CBA;
}





































/* carely.jeyda@itis0k.com */