* {
    font-family: 'Arimo', sans-serif;
}
body {
    margin: 0;
    background-image: url('assets/bg.png');
}
/* ~~~~~ HEADER ~~~~~ */
nav {
    padding-top: 15px;
}
nav ul {
    background-color: #008CBA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 50px;
    width: 95vw;
    margin: 0;
    list-style-type: none;
    padding: 0;
    position: fixed;
    margin: 0vh 1.25vw;
}
.navli {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
.navli:nth-child(1) {
    padding: 10px 100px 10px 30px;
}
nav a {
    color: white;
}
nav a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
nav a {
    text-decoration: none;
}

/* ~~~~~ MAIN ~~~~~ */
.page {
    height: 100vh;
    width: 95vw;
    margin: 2.5vh 1.25vw;
    border: 2px solid #008CBA;
    background-image: url('assets/bg.png');
}
.page .title {
    background-color: #008CBA;
    color: white;
    font-weight: lighter;
}
.title h1 {
    margin: 0px;
    padding: 7px 15px;
}

#home {
    background-image: url('assets/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(0, 101, 134);
    height: 65vh;
    margin-top: 5vh;
}
.aboutText {
    margin: 5rem;
    font-size: 1.1rem;
}
.aboutText blockquote {
    font-weight: bold;
    font-size: 1.5rem;
}

.projectsParent {
    display: grid;
    height: 92%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "project1 project2"
        "project3 project4"
}
.project1 {
    grid-area: project1;
}
.project2 {
    grid-area: project2;
}
.project3 {
    grid-area: project3;
}
.project4 {
    grid-area: project4;
}
.projects {
    width: 80%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
        "title title"
        "img desc";
    border: 2px solid #008CBA;
}
.projects .img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects img {
    grid-area: img;
    height: 60%;
    width: 70%;
}
.projects .desc {
    grid-area: desc;
    padding-top: 3rem;
}
.projects .title {
    grid-area: title;
    padding: 0 1rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.projects button {
    margin: 10px 10px;
    border: none;
    background-color: #008CBA;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}
.projects button:hover {
    background-color: white;
    border: 1px solid #008CBA;
}
.projects button a {
    text-decoration: none;
    color: white;
}
.projects button a:hover {
    color: #008CBA;
}

#skills .container {
    display: grid;
    grid-gap: 10px;
    margin: 30px auto;
    height: 92%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "skillset1"
        "skillset2"
        "skillset3"
}
.skillset1 {
    grid-area: skillset1;
}
.skillset2 {
    grid-area: skillset2;
}
.skillset3 {
    grid-area: skillset3;
}
.skillset1 .skills {
    border: 2px solid #008CBA;
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: 100%;    
    grid-template-areas:
        "skill1 skill2 skill3 skill4"
}
.skillset2 .skills {
    border: 2px solid #008CBA;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 100%;    
    grid-template-areas:
        "skill1 skill2 skill3 skill4"
}
.skillset3 .skills {
    border: 2px solid #008CBA;
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    grid-template-rows: 100%;    
    grid-template-areas:
        "skill1 skill2 skill3 skill4"
}
.skills i, .skills img, .skills span {
    margin: 15px;
    font-size: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 100px;
}
.skills span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
}
.skillset2 img {
    height: 50px;
}
.pink {
    color: rgb(252, 145, 163)
}
.hotpink {
    color: rgb(255, 42, 113)
}
.red {
    color: rgb(207, 2, 2);
}

#education {
    height: 85vh;
}
#education .table {
    width: 85%;
    margin: 35px auto;
    color: white;
    font-size: 15px;
}
#education thead {
    background-color: rgb(19, 136, 175);
}
#education tbody th:first-child {
    background-color: rgb(81, 157, 182);
}
#education tbody td:nth-child(2) {
    background-color: rgb(54, 143, 173);
}
#education tbody td:last-child {
    background-color: rgb(51, 157, 192);
}

#contact {
    height: 45vh;
    border: 2px solid #008CBA;
    background-image: url('assets/bg.png');
}
#contact .contactText h3 {
    font-weight: bold;
    color: rgb(0, 80, 107);
    display: inline-block;
}
#contact .contactText {
    color: rgb(0, 106, 141);
}
.contactText i {
    font-size: 1.75rem;
}
.contactText img {
    height: 1.75rem;
    width: 1.75rem;
}
.contactText a:hover {
    text-decoration: none;
}
.contactDiv {
    margin: 2rem;
}
















